
.main-header {
    padding: 1rem 0;
}

.logo {
    max-width: 190px;
}

@media only screen and (max-width: 767px) {
    .logo {
        max-width: 150px;
    }
    .main-header {
        padding: 1rem 0 0;
    }
}