$navy: #0055A6;
$red: #FF4035;
$yellow: #ffbe0b;
$white: #ffffff;
$borderColor: #f0f3f8;
$lightBg: #f5f6fa;
$sidebarBG: #fafbfd;

$primary: $navy;
$danger: $red;
$warning: $yellow;
$primaryDark: #074075;

$sidebarWidth: 250px;
